
img.center {
    display: block;
    margin: 0 auto;
}

h1, h2 {
	text-align: center;
	margin-bottom: 60px;
}

p {
    text-indent: 50px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  /*color: #000;  Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: white; /*BACKGROUND color for active*/
  background-color: #030033;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #B0B0B0;
}

.navbar-default {
  background-color: #303F9F;
  border-color: #303F9F;
}

.navbar-default .navbar-nav > li > a {
  color: white; /*Change active text color here*/
}

#logo-link > a:hover {
  color: black;
  text-decoration: none;
  background-color: white;  /*change color of links in drop down here*/
}

 .navbar-default .navbar-brand {
  color: white;
}

 .navbar-default .navbar-brand:hover {
  color: #B0B0B0; /*BACKGROUND color for active*/
}


#logo-link {
  color: white;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

/*Required for nav bar*/
body { padding-top: 70px; }